@value grey-color-100, grey-color-300 from 'styles/colors.css';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-wrapper {
  background-color: grey-color-100;
}

.actionbar {
  height: 40px;
  padding: 0 40px;
  border: 1px solid grey-color-300;
  background-color: white;
}
