@value grey-color-100 from 'styles/colors.css';

.container {
  margin-bottom: 150px;
  padding-top: 100px;
  padding-bottom: 80px;

  background-color: grey-color-100;
}

.form-container {
  margin-top: 50px;
}
