.save-btn {
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
}

@media(min-width: 768px) {
  .save-btn {
    margin-right: 0;
    margin-left: 15px;
  }
}
