@value grey-color-dark, grey-color-100, grey-color-500, orange-color-50, light-green-50, light-blue-50 from 'styles/colors.css';
@value orange-color-200 from 'styles/colors.css';

.container {
  margin-top: 30px;
  padding-left: 35px;
}

.tableContainer {
  overflow: auto;
}

.table {
  background-color: white;
  border: 1px solid grey-color-500;
}

.cell {
  min-width: 200px;
  padding-left: 25px;

  border-right: 1px solid grey-color-500;
  border-bottom: 1px solid grey-color-500;
  cursor: pointer;
}

.cell:first-child {
  padding-left: 40px;
}

.header {
  border: 1px solid grey-color-dark;
  background-color: grey-color-100;
  font-weight: 600;
}
