<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deltamike.co {{ title }}</title>

  <link rel="stylesheet" href="/css/vendors/normalize.css">
  <link rel="stylesheet" href="/css/vendors/skeleton.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
  <link rel="stylesheet" href="/css/index.css">

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
</head>
<body>

  {{{body}}}

</body>
</html>
