<section class="choropleth-section">

  <div class="row center-xs">
    <a href="{{ site.baseurl }}/editor" class="button">Got to the editor</a>
  </div>

  <div class="row center-xs end-sm  top-xs">
    <div class="col-xs-12 col-sm-6">

      <div class="choropleth-img-wrapper">
        <img class="choropleth-img" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=300%C3%97220&w=300&h=220" alt="usa choropleth map">
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 info-column">
      <div class="row middle-xs start-sm">

        <div class="col-xs-12">
          <ul class="choropleth-attributes">
            <li>csv data upload</li>
            <li>live preview</li>
            <li>data editor</li>
            <li>use linear or equidistant data classification</li>
            <li>choose and edit color pallete</li>
            <li>save your map as svg or png</li>
          </ul>
        </div>

      </div>

    </div>
  </div>

</section>
