<section class="choropleth-section">

  <div class="row center-xs">
    <a href="/editor" class="button">Got to the editor</a>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12">

      <div class="choropleth-img-wrapper">
        <img class="choropleth-img" src="/images/datamaps-editor.png" alt="datamaps editor">
      </div>
    </div>
    <div class="col-xs-10">
      <div class="choropleth-attributes">
        <div class="row around-xs">
          <div class="col-xs-4">
            <span>upload csv data </span>
          </div>
          <div class="col-xs-4">
            <span>customize style</span>
          </div>
          <div class="col-xs-4">
            <span>save png or svg</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
