<section class="choropleth-section">

  <div class="row center-xs">
    <a href="/editor" class="button">Got to the editor</a>
  </div>

  <div class="row center-xs">
    <div class="col-xs-12">

      <div class="choropleth-img-wrapper">
        <img class="choropleth-img" src="/images/datamaps-editor.png" alt="datamaps editor">
      </div>
    </div>
    <div class="col-xs-10">
      <div class="choropleth-attributes">
        <div class="row around-xs">
          <div class="col-xs-12 col-sm-4">
            <div class="icon-item">
              <img src="/images/icons/sheet.svg" alt="">
              <p>upload csv data</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="icon-item">
              <img src="/images/icons/mixer.svg" alt="">
              <p>customize style</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="icon-item">
              <img src="/images/icons/arrows.svg" alt="">
              <p>save png</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
