<header class="home-header home-header-gradient">
  <nav class="home-navbar row middle-xs">
    <div class="col-xs-6">
      <h4><a href="{{ site.baseurl }}/">Datamaps.co</a></h4>
    </div>
    <div class="col-xs-6 end-xs">
      <ul>
        <li><a href="{{ site.baseurl }}/editor">Editor</a></li>
        <li><a href="#">Showcase</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron row middle-xs center-xs">
    <h1 class="home-title">Create and download data maps.</h1>
  </div>
</header>
