@value grey-color-300 from 'styles/colors.css';

.container {
  display: inline-block;
  padding: 20px;
}

.imagewrapper {
  padding: 2px;
  width: 250px;
  height: 180px;
  border: 1px solid grey-color-300;
  border-radius: 8px;
  cursor: pointer;

  -webkit-transition: box-shadow 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}

.imagewrapper:hover {
  -webkit-box-shadow: 3px 3px 8px 0px grey-color-300;
  -moz-box-shadow: 3px 3px 8px 0px grey-color-300;
  box-shadow: 3px 3px 8px 0px grey-color-300;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 15px;
}
