.input {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.input:focus {
  border: 1px solid #33C3F0 !important;
}

.table-input {
  composes: input;
  border: 0 !important;
  border-radius: 0 !important;
}
