.app-container {
  position: relative;
  height: 100%;
  width: 100%;

  .map-column {
    margin-right: 400px;
    height: 100%;
    background-color: #f2f2f2;
    overflow: scroll;
  }

  .editor-body-column {
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
  }

}
