.app-container {
  display: table;
  height: 100%;
  width: 100%;

  .app-col {
    display: table-cell;
    border: 1px solid #ccc;
  }

  .editor-body-column {
    width: 400px;
  }

  .map-column {
    vertical-align: middle;
    text-align: center;
  }
}
