.editor-secondary-header {
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 30px 0 30px;

  .button {
    margin-bottom: 0;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
  }
}
