.equidistant-colors-editor {
  margin-top: 15px;
  display: inline-block;

  p {
    margin-bottom: 10px;
  }

  .schemes-row {
    padding: 0 10px;
  }

  .colors-scheme-picker {
    padding-left: 5px;
  }

  .single-hues-schemes {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid rgb(221, 221, 221);
  }

  .color-pallete {
    display: inline-block;
    margin: 4px;
    border: 6px solid white;
    border-radius: 4px;
    cursor: pointer;

    &.active-pallete {
      border: 6px solid $grey-color-300;
    }

    &:hover {
      border: 6px solid $grey-color-200;
    }
  }

  .color-picker-row {
    margin-top: 10px;
    margin-left: 5px;
  }
}
