.linear-colors-editor {
  .color-picker-row {
    display: table;

    span {
      padding-right: 15px;
      padding-bottom: 6px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
