.choropleth-section {
  margin-top: 70px;
  padding: 0 20px;

  .section-title {
    margin-bottom: 50px;
  }

  .choropleth-img-wrapper {
    padding: 5px;
    text-align: center;
  }

  .choropleth-img {
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    height: auto;
  }

  .buttons-wrapper {
    padding-top: 5px;
    padding-left: 0;
  }

  .button {
    margin-bottom: 50px;
    min-width: 250px;
  }

  .choropleth-attributes {
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: -20px;
    margin-right: -20px;
    font-size: 20px;
    text-transform: uppercase;
    color: $grey-color-600;

    li {
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}
