.form {
  margin-top: 5px;
  margin-bottom: 0;
}

.button {
  margin-left: 15px;
  margin-bottom: 0;
  height: 30px !important;
  line-height: 30px !important;
  background-color: #FFB74D !important;
  border: none !important;
  color: white !important;
}

.button:hover {
  color: white;
  box-shadow: 1px 1px 2px 1px rgba(39, 39, 39, 0.4);
}
