@value red-900, light-green-900 from 'styles/colors.css';

.MailChimpSignup #mc_embed_signup .mce_inline_error {
  color: red-900;
  background-color: transparent;
}

.MailChimpSignup #mc_embed_signup input.mce_inline_error {
  border-color: red-900;
  background-color: white;
}

.MailChimpSignup #mce-success-response {
  display: inline-block;
  color: light-green-900;
  width: 350px;
  text-align: justify;
}
