.icon {
  margin-top: 40px;
}

.image {
  display: inline-block;
  width: 35px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

.text {
  margin-top: -10px;
  margin-bottom: 0;
  display: inline-block;
}
