@value red-900, red-300, red-50, light-green-900, light-green-400, light-green-50 from 'styles/colors.css';

.container {
  text-align: left;
  margin-top: 70px;
}

.element-width {
  width: 100%;
  max-width: 350px;
  min-width: 200px;
}

.textarea {
  composes: element-width;
  height: 200px;
}

.input {
  composes: element-width;
  display: block;
}

.succesMsg {
  padding: 20px;
  margin-bottom: 20px;
  background-color: light-green-50;
  border: 1px solid light-green-400;
  color: light-green-900;
}

.errors {
  padding: 20px;
  margin-bottom: 20px;
  background: red-50;
  border: 1px solid red-300;
  color: red-900;
}
