@value sea-blue, grey-color-dark, grey-color-500 from 'styles/colors.css';

input[type="submit"].button {
  margin: 20px 0;
  background: sea-blue;
  color: white;
  border-radius: 4px;
  border-width: 0;
  width: 300px;
  box-shadow: 2px 6px 11px 2px rgba(39, 39, 39, 0.5);
}

input.input {
  width: 300px;
  border-color: grey-color-500;
}
