@value grey-color-dark: #424242;
@value grey-color-100: #F5F5F5;
@value grey-color-200: #EEEEEE;
@value grey-color-300: #E0E0E0;
@value grey-color-600: #757575;

@value purple-600: #5E35B1;
@value purple-400: #7E57C2;

@value light-green-50: #F1F8E9;
@value light-green-400: #9CCC65;
@value light-green-900: #33691E;

@value dark: #222;

.purple-gradient {
  background-color: $purple-color-500;
  background: -moz-linear-gradient(50% 100% 90deg,purple-600 0%,purple-400 95.0%);
  background: -webkit-linear-gradient(90deg, purple-600 0%, purple-400 95.0%);
  background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,purple-600 ),color-stop(0.950,purple-400 ));
  background: -o-linear-gradient(90deg, purple-600 0%, purple-400 95.0%);
  background: -ms-linear-gradient(90deg, purple-600 0%, purple-400 95.0%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='purple-600', endColorstr='purple-400' ,GradientType=0)";
  background: linear-gradient(0deg, purple-600 0%, purple-400 95.0%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='purple-600',endColorstr='purple-400' , GradientType=0);
}
