@value purple-600 from 'styles/colors.css';

:global(html) {
  height: 100%;
}

:global(body) {
  height: 100%;
}

:global(h4) {
  margin-bottom: 0;
}

:global(p) {
  margin-bottom: 0;
}

:global(.map-select .Select-control) {
  height: 40px;
}

:global(.data-classification .Select-control) {
  border-color: purple-600;
}

:global(.ReactModal__Body--open) {
    overflow: hidden;
}

@media only screen and (max-width: 48em) {
  :global(.hide-xs) {
    display: none;
  }
}

@media only screen and (min-width: 48em) {
  :global(.show-xs) {
    display: none;
  }
}
