$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$grey-color-50: #fafafa;
$grey-color-100: #F5F5F5;

$purple-color-600: #5E35B1;
$purple-color-500: #673AB7;
$purple-color-400: #7E57C2;

$text-color:       $grey-color;

// ----------------------------------------------------------------------------

@import 'navbar';
@import 'home/header';
@import 'home/choropleth';
@import 'editor/header';

@import 'react/index';

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}
