@value grey-color-600, grey-color-100 from 'styles/colors.css';

.dropzone {
  margin: 30px 0;
  padding: 25px;
  height: 150px;
  border-width: 1px;
  border-color: grey-color-600;
  border-style: dashed;
  border-radius: 5px;
  background-color: grey-color-100;
}

.dropzone-active {
  border-style: solid;
}

@media(min-width: 950px) {
  .dropzone {
    width: 250px;
  }
}
