@value grey-color-500 from 'styles/colors.css';
@value data-upload-modal-z-index from 'styles/variables.css';

.portal {
  position: relative;
  z-index: data-upload-modal-z-index;
}

.overlay {
  position: fixed;
  overflow-x: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 66, 66, 0.9);
}

.modal {
  margin-top: 60px;
  width: 100%;
  padding-bottom: 20px;
  background-color: white;
}

.modal:focus {
  outline: none;
}

.closebutton {
  float: right;
  margin: 10px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
  color: grey-color-500;
  border-color: grey-color-500;
}
