@value grey-color-100, grey-color-500 from 'styles/colors.css';

.button {
  margin-top: 5px;
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
  background-color: #03A9F4;
  color: white;
  border: none;
}

.button:hover {
  color: white;
  box-shadow: 1px 1px 2px 1px rgba(39, 39, 39, 0.4);
}

.button:focus {
  color: white;
}

.closebutton {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
}

.modal-container {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey-color-100;
  border: 1px solid grey-color-500;
  width: 80%;
  text-align: center;
}

.modal-container:focus {
  outline: none;
}

.modal-header {
  margin-top: 20px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 48em) {
  .modal-container {
    width: 50%;
    max-width: 750px;
  }
}
