@value grey-color-dark, grey-color-100 from "styles/colors.css";

.nav {
  min-height: 60px;
  padding: 0 40px 0 40px;
  background-color: grey-color-100;
}

.unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  margin-left: 20px;
}

@media only screen and (min-width: 48em) {
  .unordered-list {
    padding-bottom: 0;
  }
}

.list-item {
  display: inline-block;
  margin-bottom: 0;
}

.link {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: grey-color-dark;
}

.link:hover {
  color: grey-color-dark;
}

.link-logo {
  composes: link;
  padding: 0;
}

.logo-image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.logo-text {
  padding: 10px 0;
}
