@value grey-color-600 from 'styles/colors.css';

.footer {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  min-height: 70px;
  background-color: white;
  color: grey-color-600;
}

.text {
  color: grey-color-600;
}

.small-text {
  font-size: 12px;
  margin-top: 10px;
  padding-right: 0;
  color: grey-color-600;
}

.textlink {
  composes: text;
  margin: 0 10px;
  margin-bottom: 10px;
}
