@value grey-color-600 from 'styles/colors.css';

.footer {
  margin-top: 50px;
  width: 100%;
  height: 70px;
  background-color: white;
}

.text {
  color: grey-color-600;
}

.small-text {
  font-size: 12px;
  margin-top: 10px;
  padding-right: 0;
  color: grey-color-600;
}

.twittericon {
  margin-left: 15px;
  opacity: 0.3;
  height: 20px;
}

.twittericon:hover {
  opacity: 0.6;
}

.imagelink {
  height: 20px;
}
