@value grey-color-300 from 'styles/colors.css';

.hoverinfo {
  position: fixed;
  width: 100px;
  min-height: 50px;
  border: 1px solid grey-color-300;
  background-color: white;
  box-shadow: 1px 1px 5px grey-color-300;
  padding: 10px;
}
