.nav {
  height: 50px;
  padding: 0 20px 0 20px;
}

.unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: inline-block;
}

.grey {
  composes: grey from "styles/colors.css";
}

.white {
  color: white;
}

.link {
  padding: 10px;
  border-radius: 5px;
}

.grey-link {
  composes: link;
  composes: grey;
}

.white-link {
  composes: link;
  composes: white;
}
