@value grey-color-300 from 'styles/colors.css';
@value map-editor-layout-z-index from 'styles/variables.css'
@value editor-body-width: 400px;

.container {
  margin-top: 100px;
  position: relative;
  z-index: map-editor-layout-z-index;
}

.map-column {
  height: 600px;
  padding-bottom: 20px;
  overflow: scroll;
}

@media(min-width: 950px) {
  .container {
    margin-top: 102px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .map-column {
    margin-right: editor-body-width;
    height: 100%;
    border-bottom: 1px solid grey-color-300;
  }

  .editor-body-column {
    width: editor-body-width;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid grey-color-300;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
