.container {
  display: inline-block;
  position: relative;
}

.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}

.swatch-color {
  width: 36px;
  height: 14px;
  border-radius: 2px;
}

.picker {
  position: absolute;
  z-index: 1001;
  top: 5px;
  left: -176px !important;
}
